@font-face {
    font-family: 'PoppinsBlack';
    src: url('fuentes/poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('fuentes/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('fuentes/poppins/Poppins-Light.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* informacion y detalle del autor*/
.container-fluid .info {
    display: flex;
    background-color: #1c1c1c;
    border: none;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.container-fluid .info .detalle {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e3e3e3;
    border-left: 5px solid #1c1c1c;
    border-top: 5px solid #1c1c1c;
    border-bottom: 5px solid #1c1c1c;
}

.container-fluid .info .img-autor {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-fluid .info .img-autor img {
    border-radius: 10px;
}

.container-fluid .info .desc {
    color: #e3e3e3;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.container-fluid .info .desc {
    font-family: 'PoppinsBold';
}

.container-fluid .info .desc p {
    font-family: 'PoppinsLight';
}

/* Descripcion e imagen del autor*/
.detalle .detalle-autor {
    padding: 5px;
}

.detalle .detalle-autor td {
    padding-left: 5px;
}


/* Tarjetas */
.gal {
    margin-top: 30px;
}


.gal .titulo {
    height: 70px;
    align-content: center;
    background-color: #1c1c1c;
    color: white;
}

.carr {
    background-image: url(img/img-principal/degradado-negro.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carr .card {
    margin-top: 50px;
    display: inline-flex;
    height: 470px;
    align-items: center;
    border: none;
    background-color: #1c1c1c;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.8;
}

.card .img a img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    width: 250px;
    object-fit: cover;
    transition: 0.5s ease;
}

.card p {
    font-family: 'PoppinsBold';
    color: white;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}

.card:hover {
    opacity: 1;
    transition: 0.3s;
}

.card:hover .img a img:hover {
    width: 350px;
    filter: contrast(120%);
}

.gal:hover .card:not(:hover) {
    filter: blur(0.5px);
    transition: 0.3s;
}


/* pie de pagina*/
.pie {
    margin-top: 30px;
    height: 150px;
    background-color: #1c1c1c;
}